# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.md text
*.html text
*.css text
*.js text
*.json text
*.yml text
*.yaml text

# Declare binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

