{%- for user in users %}
        <div class="card" data-followers="{{ user.followers if user.followers != 'N/A' else 0 }}" data-repos="{{ user.public_repos if user.public_repos != 'N/A' else 0 }}" data-forks="0" data-name="{{ user.name | lower }}" data-login="{{ user.login | lower }}" data-location="{{ user.location | lower }}" data-avatar-updated="{{ user.avatar_updated_at | default('') }}">
            <a href="{{ user.html_url }}" target="_blank" rel="noopener">
                <img src="images/faces/{{ user.login | lower }}.png" alt="{{ user.login }}" title="{{ user.login }}">
            </a>
            <div class="details-box">
                <strong>{{ user.name or user.login }}</strong>
                <span>@{{ user.login }}</span>
                <span>Followers: 
                    {%- if user.followers != 'N/A' %}
                    <a href="{{ user.html_url }}?tab=followers" target="_blank" rel="noopener">{{ user.followers_display }}</a>
                    {%- else %}
                    {{ user.followers_display }}
                    {%- endif %}
                </span>
                <span>Following: 
                    {%- if user.following != 'N/A' %}
                    <a href="{{ user.html_url }}?tab=following" target="_blank" rel="noopener">{{ user.following_display }}</a>
                    {%- else %}
                    {{ user.following_display }}
                    {%- endif %}
                </span>
                {%- if user.location %}
                <span>🌐 {{ user.location }}</span>
                {%- endif %}
                <div class="stats-row">
                    <div class="stat">
                        {%- if user.public_repos != 'N/A' %}
                        <a href="{{ user.html_url }}?tab=repositories" target="_blank" rel="noopener">{{ user.repos_display }}</a>
                        {%- else %}
                        {{ user.repos_display }}
                        {%- endif %}
                        <span class="stat-label">Repos</span>
                    </div>
                    <div class="stat">
                        {%- if user.public_gists != 'N/A' %}
                        <a href="https://gist.github.com/{{ user.login }}" target="_blank" rel="noopener">{{ user.gists_display }}</a>
                        {%- else %}
                        {{ user.gists_display }}
                        {%- endif %}
                        <span class="stat-label">Gists</span>
                    </div>
                    <div class="stat">
                        {%- if user.sponsors_count != 'N/A' %}
                        <a href="{{ user.html_url }}?tab=sponsors" target="_blank" rel="noopener">{{ user.sponsors_display }}</a>
                        {%- else %}
                        {{ user.sponsors_display }}
                        {%- endif %}
                        <span class="stat-label">Public Sponsors</span>
                    </div>
                    <div class="stat">
                        {%- if user.sponsoring_count != 'N/A' %}
                        <a href="{{ user.html_url }}?tab=sponsoring" target="_blank" rel="noopener">{{ user.sponsoring_display }}</a>
                        {%- else %}
                        {{ user.sponsoring_display }}
                        {%- endif %}
                        <span class="stat-label">Public Sponsoring</span>
                    </div>
                </div>
            </div>
        </div>
{%- endfor %}